body{
    margin:0;
    padding:0;
}

.wrapper{
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin:0 auto;
}
i.fa-sharp.fa-solid.fa-plus.fa-style {
    font-size: 20px;
    color: black;
}
i.fa-sharp.fa-solid.fa-minus.fa-style {
    font-size: 20px;
    color: black;
}
i.fa-sharp.fa-solid.fa-plus.fa-style:hover {
    color: teal;
}
i.fa-sharp.fa-solid.fa-minus.fa-style:hover {
    color: teal;
}
.wrapper_chitiet{
    height: auto;
    width: 90%;
    margin:0 auto;
}
.hinhanh_sanpham{
        float:left;
    width: 30%; 
}
.chitiet_sanpham{
    float: left;
    width: 49%;
    margin: 0 10px;
}
input.themgiohang {
    border: none;
    background: brown;
    color: white;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
}
.header {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 180px;
    margin-left: -3px;
    border: 0px solid #ff80ff;
    height: 180px;
    width: 100%;
}
.menu {
    border: 1px solid #1aff8c;
    height: 50px;
    width: 100%;
    background: steelblue;
}
ul.list_menu {
    padding: 0;
    margin: 0;
    width: 60%;
    list-style: none;   
    margin: 0 auto;
    line-height: 27px;
} 
ul.list_menu li:hover {
    background: cadetblue;
}
ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
ul.list_menu li {
    float: left;
    margin: 7px;
    padding: 5px;
}
#main{
    border: 1px solid #ff80ff;  
    height: auto;
    width: 100%;
}
.sidebar {
    border: 1px solid #000;
    height: 808px;
    width: 20%;
    margin-top: 1px;
    margin-left: 1px;
    float: left;
    background: darkslategray;
}
ul.list_sidebar {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    line-height: 27px;
} 
ul.list_sidebar li:hover {
    background: cadetblue;
}
ul.list_sidebar li a {
    text-decoration: none;
    text-align: left;
    color: aliceblue;
    display: block;
}
ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
}
.maincontent {
    height: auto;
    width: 100%;
    margin-top: 1px;
    margin-right: 2px;
    float: right;
    background: gainsboro;
}
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li img {
    height: 190px;
}
ul.product_list li {
    width: 18%;
    border: 1px solid #ddd;
    margin: 10px;
    float: left;
    height: 300px;
}
ul.product_list li a {
    text-decoration: none;
}
ul.product_list li img {
    width: 100%;
}
p.price_product {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
p.title_product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.footer {
    border: 1px solid #ff1a8c;
    height: 150px;
    width: 100%;
    background: steelblue;
}
p.footer_dev {
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}

.clear{
    clear:both;
}